@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

*{
    margin: 0px; padding: 0px;
}

.navStyle{
    display: flex; 
    max-height: 150px; 
    flex-direction: row; 
    justify-content: center; 
    box-shadow: 5px 5px 10px #d1d1d1ab;
}

.navUl{
    list-style: none; 
    display: flex; 
    justify-content: center;
}

.navA{
    margin-right: 15px; 
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none; 
    color: #09b9ff;
}
.font{
    font-family: 'Vollkorn', serif;
}
.itemMenu:hover{
    color:#2ca8da;
}
.linkPost:hover{
    color: #312f2f;
}
.contentHero{
    height: 670px;
    width: 100%;
    background: black;
    overflow: hidden;
    display: flex; 
    flex-direction: row; 
    margin: -29px 0px 30px 0px;
}
.HeroH{
    width: 100%;
    text-align: center;
    font-size: 6.5rem; 
    text-shadow: 5px 5px 6px #000;
}
.HeroP{
    text-align: center;
    font-size: 2.5rem; 
    text-shadow: 5px 5px 6px #000;
}
.slide1{
    object-fit: cover;
    opacity: 0.5;
}
.Hero-Content{
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
}
.HeroInformationContainer{
    display: flex;
    position:absolute;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 80%;
}
.ImageHero{
    margin: auto;
    width: 100%;
}
.Hero-ContentImage::before{
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.38139005602240894) 0%, rgba(0,0,0,1) 100%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.HeroImageText{
    font-size: 4rem;
}
.HeroImageTextExerpt{
    padding: 10px 15px 5px 10px;
    text-align: center;
    font-size: 1.2rem;
    width: 50%;
    margin: 0px auto;
}
.HeroInformationContainerImage{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 70%;
}
.LastPostText{
    margin-top: 10px; margin-bottom: 15px; padding-left: 20px;
}

.SectionPost{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 5px 1px; 
}
.containerPost{
    box-shadow: 3px 3px 10px #a8a8a8;
    max-height: 800px;
    width: 300px;
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}
.containerImagePost{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}
.imagePost{
    width: 100%;
    border-radius: 5px;
    max-height: 200px;
    object-fit: contain;
}
.containerInfoPost{
    padding-left: 15px;
}
.TitlePost{
    text-align: left; 
    font-size: 16px;
}

.linkPost{
    Color: #000;
    transition: 300ms;
    text-decoration: none;
}
.exerptPost{
    text-align: justify; 
    padding-right: 15px;
}

/* Footer */
.FooterContainer{
    display: flex; 
    justify-content:space-between; 
    align-items: center; 
    text-align: center;
    background: #000;
    color: #fff;      
}
.ConocenosInfo{
    width: 341px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.SectionNewsletter{
    margin-top: 5%;
    padding-top: 2%;
    background: #000;
    display: flex;
    color: #fff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.inputStyle{
    height: 30px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-family: 'Source Code Pro', monospace;
}
.inputStyle::placeholder{
    font-family: 'Source Code Pro', monospace;
    color:#a8a8a8;
    font-size: 1.3rem;
    text-align: left;
    padding: 5px;
}
.inputStyle:focus{
    outline: 2px solid transparent;
    outline-offset: 2px;
    font-size: 1.3rem;
    font-family: 'Source Code Pro', monospace;
}
.btnSubmit{
    width: 30%;
    font-size: 1.3rem;
    height: 2.5rem;
    border-radius: 10px;
    background: #fff;
    color: #000;
    font-family: 'Source Code Pro', monospace;
}
.btnSubmit:hover{
    background: #09b9ff;
    color: #fff;
    font-weight: bold;
    transition: 300ms;
}
@media screen and (max-width: 1280px){
    .contentHero{
        height: 860px;
    }
}